
.logocontainer{
    width: 100%;
}

.azglogosvg{
    fill:rgb(3, 4, 31);
    stroke:#02eeff;
    width: 10cm;
    stroke-width: 3px;
    
}

#part1{
    
    animation-name: part1anim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes part1anim {
    0%,100%{
        transform: translateX(2000px);
    }
    50%{
        transform: translate(0px,0px);
    }
    90%{
        transform: translateX(0px);
    }
}

#part2{
    
    animation-name: part2anim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes part2anim {
    0%,100%{
        transform: translateY(2000px);
    }
    50%{
        transform: translate(0px,0px);
    }
    90%{
        transform: translateY(0px);
    }
}
#part3{
    
    animation-name: part3anim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes part3anim {
    0%,100%{
        transform: translate(-600px,600px);
    }
    50%{
        transform: translate(0px,0px);
    }
    90%{
        transform: translate(0px,0px);
    }
}
#part4{
    
    animation-name: part4anim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes part4anim {
    0%,100%{
        transform: translate(-600px);
    }
    50%{
        transform: translate(0px,0px);
    }
    90%{
        transform: translate(0px);
    }
}
#part5{
    
    animation-name: part5anim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes part5anim {
    0%,100%{
        transform: translate(0px, -1000px);
    }
    50%{
        transform: translate(0px,0px);
    }
    90%{
        transform: translate(0px, 0px);
    }
}
#part6{
    
    animation-name: part6anim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes part6anim {
    0%,100%{
        transform: translate(150px, 350px);
    }
    50%{
        transform: translate(0px,0px);
    }
    90%{
        transform: translate(0px,0px);
    }
}
#part7{
    
    animation-name: part7anim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes part7anim {
    0%,100%{
        transform: translate(400px, 0px);
    }
    50%{
        transform: translate(0px,0px);
    }
    90%{
        transform: translate(0px,0px);
    }
}
#part8{
    
    animation-name: part8anim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes part8anim {
    0%,100%{
        transform: translate(1000px, -300px);
    }
    50%{
        transform: translate(0px,0px);
    }
    90%{
        transform: translate(0px,0px);
    }
}
#part9{
    
    animation-name: part9anim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes part9anim {
    0%,100%{
        transform: translate(0px, 500px);
    }
    50%{
        transform: translate(0px,0px);
    }
    90%{
        transform: translate(0px,0px);
    }
}
#part10{
    
    animation-name: part10anim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes part10anim {
    0%,100%{
        transform: translate(300px, 0px);
    }
    50%{
        transform: translate(0px,0px);
    }
    90%{
        transform: translate(0px,0px);
    }
}
#part11{
    
    animation-name: part11anim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes part11anim {
    0%,100%{
        transform: translate(3000px, -100px);
    }
    50%{
        transform: translate(0px,0px);
    }
    90%{
        transform: translate(0px,0px);
    }
}